body{
    font-size: 100%;
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0 3% 0 3%;
    background-color: #eee;
}

.container{
    overflow: hidden;
    position: relative;
    margin-top: 10%;
    max-height: 500px;
    height: 100%;
    width: 95%;
    margin-left: auto;margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content{
    padding-top: 1%;
    width:100%;
    height: auto;
    position: relative;
}

.product{
    display: inline-block;
    position: relative;
    width: 14%;
    height:auto;
    padding:2% 4% 2% 4%;
    background-color: white;
    cursor:pointer;
    margin-right: 1.5%;
    margin-left: 1.5%;
    transition:  all 1s;
    
}
.shadow{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1), 0px 6px 8px 4px rgba(0,0,0,0.8);
}

.animation-product-in{
    animation-name: zom;
    animation-duration: 1s;
    animation-delay: 0s;
}
.animation-product-out{
    animation-name: zomOut;
    animation-duration: 1s;
    animation-delay: 0s;
}

    .product-img{
        position: relative;
        max-width: 200px;
        max-height: 200px;
        width: 100%;  
    }
    .product-name{
        position: relative;
        font-size: 11px;
        color:grey;
    }
    .product-price{
        color:#F96604;
        position: relative;
        width: 100%;
        margin-bottom: -9%;

    }
.container h1{
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1.5em;
    color: grey;
    
    margin-left: auto;margin-right: auto;
}

.container h1::after, .container h1::before{
    content: '';
    position: absolute; 
    width:30%;
    height: 2px;
    background-color: currentColor;
    top: .6em;
    margin-left: auto;margin-right: auto;
}

.container h1::before{
    left: 3%;
}
.container h1::after{
    right: 3%;
}

/* SLIDER CON BOTONES*/
.container .controls ul{
    padding: 0;
    position: relative;
    text-align: center;
    margin: 0px;
    width: 100%;
}
.container .controls li{
    list-style-type: none;
    background-color:#444;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.container .controls li.active{
    background-color: blue;
}

.slider{
    position: relative;
    width: 100%;
    height: auto;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 1%;
    background-color: blue;
}

.slider-cont *{
    white-space: normal;
}
.slider .slider-cont{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    left:0px;
    transition: all 1s;
}

/*SLIDER DERECHA A IZQUIERDA*/
.slider2{
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition:  all 1s;
}
.controlsBtn{
    width: 100%; 
    color: grey;
    position: absolute;
    z-index: 10;
}
.controlsBtn .size{
    font-size:7em;
}
.controlsBtn .moveLeft{
    position: absolute;
    bottom: 7em;
    left: 0px;
    cursor: pointer;
}

.controlsBtn .moveRight{
    position: absolute;
    bottom:7em;
    right: 0px;
    cursor: pointer;
}

@keyframes zom{
    0%{box-shadow: none;}
    100%{box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1), 0px 6px 8px 4px rgba(0,0,0,0.8)}
}
@keyframes zomOut {
    0%{box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1), 0px 6px 8px 4px rgba(0,0,0,0.8)}
    100%{box-shadow: none;}
}
@media screen and (max-width:430px){
    .container h1::after, .container h1::before{
        width:0px;
    }
    .slider-cont .product{
        width: 89%;
        padding-bottom:2em; padding-top: 2em;
    }   
    .product-price{
        margin-bottom: -2%;
    }
}
@media screen and (min-width: 431px) and (max-width:500px){
    .container h1::after, .container h1::before{
        width:2%;
    }
    .slider-cont .product{
        width: 89%;
        padding-bottom:2em; padding-top: 2em;
    }
    .product-price{
        margin-bottom: -2%;
    }
   

}

@media screen and (min-width:501px) and (max-width:750px){
    .container h1::after, .container h1::before{
        width:8.5%;
    }

    .slider-cont .product{
        width: 38.5%;
    }
    .product-price{
        margin-bottom: -3%;
    }
}
@media screen and (min-width:751px) and (max-width:1150px){
    
    .slider-cont .product{
        width: 22%;
    }
    .slider-cont {
        
        margin: auto;
    }
    .container h1::after, .container h1::before{
        width:20%;
    }
}



/* @media screen and (max-width:1200px){
    .product{
        width: 30%;
    }
} */