@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

body,html{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'Roboto', Helvetica, Arial;
}
.popup{
    position: relative;
    height: 100vh;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

.popup-content{
    position: fixed;
    max-height: 400px;
    max-width: 380px;
    height: 59%;
    width: 25%;
    background-color: #F2CA5A;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,.5);
    animation-duration: 1s;
    animation-delay: 0s;
    padding: 0.5em 0.7em 0.5em 1em;
    border:none;
    border-radius: 12px;
    box-sizing: border-box;
    color: white;
}
.popup-content .how-to-experience{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}
.popup-content input{
    position: relative;
    margin-right: 2em;
    margin-bottom: 0.8em;
    font-weight: 500;
}
.textarea{
    margin-top: 0.5em;
    width: 98.3%;
    overflow: hidden;
    resize: none;
    border-radius: 6px;
    border:none;
    box-shadow: 0px 1px 3px 1px rgba(163,127,28,.64);

}
.btn-enviar{
    position: absolute;
    left: 21%;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1%;
    border:none;
    width: 60%;
    height: 1.6em;
    color:white;
    border-radius: 14px;
    box-shadow: 0px 1px 3px 2px rgba(163,127,28,.64);
    background-color:#F2CA5A ;
}
.op-cl-popup{
    position:absolute;
    font-size:1.7rem;
    padding:2px 3px 2px 3px;
    color:white;
    top:4%;
    right: 3%;
    cursor:pointer;
    z-index: 10;
    border-radius: 14px;
}

input[type = radio] {
    display: none;
}
input[type=radio] + label{
    cursor: pointer;
    transition: all 3s;
}
input[type="radio"]:checked + label::after{
    position: absolute;
    left: 6%;
    margin-top: 11%;
    width: 8.1%;
    height: 1px;
    background-color: white;
    content:"";
    box-shadow: 0px 0px 4px 1px rgba(255,255, 255, 0.8);
}
input[type="radio"] + label::before{
    content:attr(data-content);
    margin-right: 1rem;
    font-size: 2rem;
}
input[type="radio"]:not(:checked) + label::before{
    opacity: 0.25;
}
input[type="radio"]:checked + label::before,label::after{
    opacity: 1;
    border-radius: 50%;
    
}

#dont-know-buy + label::before{
    content: "😕";
}
#satisfactory + label::before{
    content: "😊";
}
#dont-like + label::before{
    content: "🙁";
}
#another + label::before{
    content: "🙂";
}
#another:checked + label::before{
    content: "🙂";
}

.space{
    height: 600px;
}

@media screen and (max-width: 500px){

    .popup-content{
        width: 90%;
        height: 80%;
    }
    .op-cl-popup{
        right: 2%;
        top:4%;
        font-size: 1.2rem; 
    }
    
}

@media screen and (min-width:501px) and (max-width:542px){
    .popup-content{
        width:65%;
        height: 90%;
    }
    .radio textarea{
        margin-top:3%;
    }
    input[type="radio"]:checked + label::after{
        width: 10%;
        left: 6%;
        margin-top: 13%;
    }
}
@media screen and (min-width:542px) and (max-width:619px){
    .popup-content{
        width:65%;
        height: 80%;
    }
    .radio textarea{
        margin-top:3%;
    }
    input[type="radio"]:checked + label::after{
        width: 10%;
        left: 5%;
        margin-top: 12%;
    }
}
@media screen and (min-width:619px) and (max-width:800px){
    .popup-content{
        width:55%;
        height: 75%;
    }
    .radio textarea{
        margin-top:4%;
    }
    input[type="radio"]:checked + label::after{
        width: 11%;
        left: 5%;
        margin-top: 12%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px){
    .popup-content{
        max-width: 420px;
        width:48%;
        height: 70%;
    }
    .radio textarea{
        margin-top:5%;
    }
    input[type="radio"]:checked + label::after{
        width: 9%;
        left: 5%;
        margin-top: 11%;
    }
}
@media screen and (min-width: 1024px){
    .popup-content{
        width:48%;
        height: 70%;
    }
    .radio textarea{
        margin-top:5%;
        margin-bottom: 2%;
    }
}