body{
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.popup{
    width: 100%;
    height: 100%;
}
.popup-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F96604;
    width: 100%;     
    height: auto;
    padding-top:7%;
    padding-bottom: 7%;
    bottom: 0;
    text-align: center;
    color: white;
}
.hidden{
    display:none;
}
.showed{
    display:block;
}
.popup-content .top{
    position: relative;
    font-weight: 100;
    margin-top: -1.5%;
    margin-right: 10%;
    margin-left: 10%;
}
.popup-content h5{
    position: relative;
    font-weight: bold;
    margin-top:-2px;
    margin-right: 5%;
    margin-left:5%;
}
.popup-content .bottom{
    position: relative;
    font-weight: 100;
    font-size:0.6rem;
    margin-right: 5%;
    margin-left: 5%;
    margin-top:-2px;
}
.op-cl-popup{
    position: absolute;
    right: 2%;
    margin-top:0;
    top:6%;
    cursor:pointer;
}


@media screen and (min-width: 481px) and (max-width: 761px){
    .popup-content{
        max-height: 110px;
        padding-top:4%;
        padding-bottom: 4%; 
        height: 50%;
    }
    .op-cl-popup{
        top:11%;
        margin-top: 0;
    }
}

@media screen and (min-width: 762px) and (max-width: 1024px){
    .popup-content{
        padding-top: 1%;
        padding-bottom: 0;
        height: 20%;
    }
}

@media screen and (min-width: 1025px){
    .popup-content{
        padding-top: 4%;
        padding-bottom: 2%;
        height: 8%;
    }
    .popup-content h5{
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .op-cl-popup{
        right: 1%;
        top:6%;
    }
}