body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fireworks{
    width: 150px;
    height: 150px;

    background-image: url('./fireworks.png');
    background-size: 9600%;
    background-position:left;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(95);
}

@keyframes move {
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}