body{
    text-align: center;
}
h1{
    display: inline-block;
    position: relative;
}
h1::before,h1::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: .6em;
}
h1::before{
    left: -140px;
}
h1::after{
    right: -140px;
}